body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f46105;
    overflow-x: hidden;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f46105;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px;
    height: 104px;
}

.logo {
    width: 100px;
    height: 56px;
    object-fit: contain;
}

nav {
    display: flex;
    align-items: center;
}
ul li {
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.material-icons {
    font-size: 8px;
    transition: transform 0.5s ease-in-out;
    background: white;
    border-radius: 50%;
    color: black;
    padding: 8px;

}

.material-icons:hover {
    transform: scale(1.1);
}

#links {
    background: black;
    border-radius: 8px;
    padding: 8px;
    margin: 16px;
    position: fixed;
    top: 0;
    right: -250px;
    width: 200px;
    transition: right 0.5s ease-in-out;
    white-space: nowrap;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

}

#links.visible {
    right:0;
    width: 40%;
}
#links ul {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
}
#links.visible ul {
    opacity: 1;
}
#links a{
    margin-right: 8px;
}

main {
    margin-top: 80px;
    padding: 24px;
    flex: 1;
    display: flex;
    gap: 2px;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 1920px;
}
.restaurant-menu{
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    width: 100%;
    transition: flex 0.5s ease-in-out;
}
.restaurant-img{
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-radius: 8px 8px 0 0;
}
h1{
    color: white;
    font-size: 32px;
}
.cart-icon{
    margin-right: 16px;
}
.cart-close{
    margin-top: 16px;
    font-size: small;
    padding: 4px;
    position: relative;
    top: -12px;
    right: 8px;
}
#cart-contents{
    background: black;
    border-radius: 8px;
    height: 0;
    width: 100%;
    padding: 8px;
    transition: height 0.5s ease-in-out;
    white-space: nowrap;
    top: 0;
    position: relative;
    overflow : hidden;
}


#cart-contents.visible{
    height: 40%;
}

#cart-contents.visible ~ .restaurant-menu {
    height: 60%;
}


footer {
    background-color: #002035;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 48px;
    width: 100%;
}